<html>
    <head>
    </head>

    <body>
        <div class="Tela-Cadastro">
            <img src="https://cdn-icons-png.flaticon.com/512/863/863823.png" class="IMAGEM-CADASTRO">
            <form action="/action_page.php" method="post">
                <label for="fname" class="TEXTO_CADASTRO">Nome Completo:</label>
                <input type="text" id="fname" name="fname" class="EDITBOX_CADASTRO"><br><br>
                <label for="idade" class="TEXTO_CADASTRO">Idade:</label>
                <input type="text" id="idade" name="idade" class="EDITBOX_CADASTRO"><br><br>
                <label for="email" class="TEXTO_CADASTRO">E-mail:</label>
                <input type="text" id="email" name="email" class="EDITBOX_CADASTRO"><br><br>
                <label for="telefone" class="TEXTO_CADASTRO">Telefone:</label>
                <input type="text" id="telefone" name="telefone" class="EDITBOX_CADASTRO"><br><br>
                <input type="cadastrar" value="Cadastrar" class="BOTAO_CADASTRO">
            </form>
        </div>
    </body>
</html>